body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #dbdde6;
  margin: 0;
  padding: 20px;
}
h1{
      color: #f2f2f2;
      text-align:center;
      background-color: #3284d5;
      border-radius: 5px;
}
h6 {
      color: #190000; 
      text-align: center;
}
.container {
      display: flex;
      justify-content: center;
      align-items: center; 
      gap: 10px;
      flex-wrap: wrap;
      max-width: 800px;
      margin: 0 auto;
      background-color: #ffffff;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 10px 10px rgb(77, 154, 151);
      font-size: 32px;
    }
.boton {
      display: inline-block;
      padding: 7px 20px;
      background-color: #34713a60;
      color: #fff;
      text-decoration: none;
      border-radius: 20px;
      transition: all 0.9s ease-in-out;
      
}
 .boton:hover {
      background-color: #4b26c4;
      padding: 10px 20px;
}    
/* estilos para los formularios */
input {
      width: 90%;
      padding: 15px;
      font-size: 20px;
      margin-bottom: 5px;
      border-radius: 5px;
      border: 1px solid #000000;
}

#resp {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      max-width: 80%;
      margin: 0 auto;
      color:#fff;
      font-weight: 900;
      background-color: #655992;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 5px 10px rgba(12, 2, 2, 0.5);
    }
.botones{
      display: flex;
      justify-content:center;
      gap: 10px;
      margin-bottom: 5px;
     
}   

input[type="checkbox"] {
      transform: scale(2.5); /* Aumenta el tamaño del checkbox */
      
    }

    label[for="iva"] {
      display: flex;
      align-items: center;
      
    }
    
    label[for="iva"]::before {
      content: "IVA";
      margin-right: -300px;
      
      
    }
    